<div>
	<div class="modal-header">
		<h4 class="modal-title">Config</h4> </div>
	<div class="modal-body">
		<form name="configForm">
			<div class="form-group" ng-class="{ 'has-error': configForm.serverUrl.$invalid && configForm.serverUrl.$dirty}">
				<label class="control-label">Server Url</label>
				<input type="text" name="serverUrl" ng-model="$ctrl.settings.serverUrl" class="form-control" required>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<a class="btn btn-default" href="#/" ng-click="$ctrl.close()" ng-show="$ctrl.canClose()">cancel</a>
		<button type="button" ng-click="$ctrl.save()" class="btn btn-primary" ng-disabled="configForm.$invalid">Save</button>
	</div>
</div>