<div>
	<div class="popup-container">
		<broadcast-bar on-broadcast="$ctrl.broadcast(value, $ctrl.timeout, $ctrl.selectedMonitor)"></broadcast-bar>
		
		<scroll-pad on-scroll="$ctrl.scrollMonitor(direction)"></scroll-pad>

		<div class="settings-bar">
			<screen-selector on-screen-changed="$ctrl.selectedMonitor = screen" selected-screen="$ctrl.selectedMonitor"></screen-selector>
			<timeout-selector on-timeout-changed="$ctrl.timeout = timeout" selected-timeout="$ctrl.timeout"></timeout-selector>
			<a href="#/config" class="btn btn-link btn-config pull-right"><i class="fa fa-cog" aria-hidden="true"></i></a>
		</div>
	</div>
</div>